*{
    font-family: "poppins", sans-serif;
}
.movieBox{
    justify-content: center;
    display: flex;
    padding-top: 30px;
    
}
.movieHome{
    display: flex;
    justify-content: center;
}
.MovieInfo{

   width: 100vw;
   max-width: 70rem;
   height: 100vh;
   object-fit: cover;
   margin: 0 auto;
   padding-top: 1rem;
   padding: 1rem 2rem;
   
    

}
.description{

    width: 100vw;
    max-width: 60rem;
}
.movieDescript{
margin-top: 2rem;
}
.row{
    height: 100vh;
    
}
.img{
    
    
    width: 100vw;
    max-width: 60rem;
    height: 40rem;
}
.tv{
    width: 20px;
    height: 20px;
}
.movieBox2{
    font-size: 16px;
    margin-left: 10px;
}
.movieBox{
    padding-bottom: 60px;
}
.sideLogo{

    text-decoration: none;
    width:15px ;
    height: 15px;
}
.Link{
    text-decoration: none;
}
  .barText{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: sans-serif;
    margin-left: 10px;
}
.movieHome{
    margin-bottom: 30px;
    

}
.first-fluid{
    padding: 0;
    text-align: center;
    width: fit-content;
    /* width: 10%;
    height: 100%; */
    border: 1px solid black;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
} 
.second{
    padding: 0;
}
body{
    padding: 0;
    overflow-x: hidden;
}
.sideBtn{
    width: 100px;
    height: 180px; 
    border: 1px solid rgb(187, 74, 74);
    border-radius: 5px;
    
}
.btnText{
    font-size: 11px;
    font-family: sans-serif;
    text-align: left;
    
}
.btnT{
    font-size: 11px;
    font-family: sans-serif;
    text-align: left;
    font-weight:1px;
    
}
.innerBtn{
    font-size: 11px;
    font-family: sans-serif;
    border-radius: 10px;
    border: none;
    color: rgb(187, 74, 74);
    background-color: pink;

}
.movieHome2{
    display: flex;
    padding-top: 30px;
    padding-bottom: 40px;
    justify-content: center;
}
.movieH{
    margin-bottom: 30px;
    display: flex;
    background-color: pink;
    justify-content: center;
    align-items: center;
    border-right: 3px solid rgb(185, 56, 56);;
}
.barT{
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
    font-family: sans-serif;
    color: rgb(185, 56, 56);
    font-weight: 900px;
    
}

@media screen and (max-width: 700px){

}

